@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    /*Pokédex background*/
    --background-color: #e43414




}

/*Retro Font*/
.press-start-font {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

/*Roboto font*/

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



#display-box {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.bodyheader {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bodyheader > h1 {
    font-size: 16px;
    padding-left: 15%;
}

.section1 {
    background-color: var(--background-color);
    height: 660px;
    flex-basis: 600px;
    flex-shrink: 1;
    flex-grow: 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.poke-header {
    height: 64px;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
}

.poke-header > nav {
    display: flex;
    align-items: center;
}


.large-circle {
    width: 35px;
    height: 35px;
    background-color: blue;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 15px;
}

.small-circle {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

.small-circle1 {
    background-color: #ff5f56;
}

.small-circle2 {
    background-color: #ffbd2e;
}

.small-circle3 {
    background-color: #27c93f;
}


main {
    padding: 2rem;
}

.poke-description {
    padding-top: 20px;
    padding-bottom: 20px;

}

.poke-display {
    width: 100%;
    min-height: 400px;
    background-color: black;
}

.poke-description-box {
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.retro-poke-description {
    color: #66d3a8;
    font-size: 0.575rem;
    line-height: 1.25rem;
}

.retro-poke-description-h2 {
    font-size: 0.875rem;

}





